// Start-page top slider
@mixin top-slider-text($top, $right, $margin-top) {
  top: $top;
  position: absolute;
  right: $right;
  margin-top: $margin-top;
}

@mixin top-slider-text-animation($ft-wt, $animation-delay) {
  font-weight: $ft-wt;
  text-transform: capitalize;
  line-height: 1;
  font-size: 59px;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: $animation-delay;
  animation-delay: $animation-delay;
}

@mixin btn($padding, $line-height) {
  color: #333;
  bottom: 0px;
  font-size: 14px;
  font-weight: 700;
  padding: $padding;
  line-height: $line-height;
  height: 36px;
  text-transform: capitalize;
  background: #fdb813;
  border-radius: 5px;
}

@mixin btn-hover() {
  color: #fdb813;
  background: #333;
}


@mixin cart-list($width, $height, $top, $right) {
  width: $width;
  height: $height;
  padding: 18px 15px 0;
  background: #fff;
  right: $right;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #ededed;
  position: absolute;
  top: $top;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  overflow: visible;
  overflow-y: scroll;
}
