@import "./../../styles/variables";
@import "./../../styles/mixins";
.sample-wrapper {
  padding-left: 10px;
}
// ---------slider-content-------------
.picsum-img-wrapper {
  position: relative;
}
.picsum-img-wrapper > img {
  width: 100%;
}
.picsum-img-wrapper > .slider-text-container.slider-main-2 {
  @include top-slider-text(10px, 840px, 40px);
}
.picsum-img-wrapper > .slider-text-container.slider-main-1 {
  @include top-slider-text(10px, 250px, 50px);
}
.picsum-img-wrapper > .slider-text-container.slider-main-3 {
  @include top-slider-text(10px, 210px, 40px);
}
.picsum-img-wrapper > .slider-text-container > h1,
h2,
p {
  margin-top: 0px;
}
.picsum-img-wrapper > .slider-text-container > h2 {
  @include top-slider-text-animation(300, 0.3s);
}
.picsum-img-wrapper > .slider-text-container > h1 {
  @include top-slider-text-animation(700, 0.5s);
}
.picsum-img-wrapper > .slider-text-container > p {
  @include top-slider-text-animation(300, 0.7s);

  font-size: 20px;
  font-weight: 300;

  line-height: 24px;
}
.picsum-img-wrapper > .slider-text-container > a {
  cursor: pointer;
  background-color: $yellow !important;
  margin-top: 12px;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  color: $black;
  line-height: 45px;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 3px;
  padding: 0 30px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.picsum-img-wrapper > .slider-text-container > a:hover {
  background-color: $black !important;
  color: $white;
}

// --------------------row with icons ------------------

.icon-wrapper {
  height: 50px;
  width: 50px;
  line-height: 48px;
  border: 1px solid $light-grey;
  border-radius: 100%;
  text-align: center;
  transition: 0.3s;
  margin-right: 11px;
  text-align: center;
  cursor: default;
}
.shipping-icon-container {
  border-right: 1px solid $light-grey;
  display: flex;
  align-items: center;
}
.truck-icon {
  line-height: 48px;

  transition: 0.3s;
  color: $yellow;
}

.icon-wrapper:hover {
  background-color: $yellow;
  .truck-icon {
    color: black;
  }
}
.shipping-icon-container > p {
  text-transform: capitalize;
}

// -----------------------row with banners---------------
.banner-image {
  content: url("/src/assets/banner2.jpg");
}
.single-banner {
  transition: transform 0.2s; /* Animation */
  cursor: pointer;
}
.single-banner:hover {
  transform: scale(1.1) rotate(0.05deg);

  img {
    opacity: 0.7;
  }
}
// --------------------row with new arrivals---------------

.product_tab_button > a {
  line-height: 28px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  padding: 0 20px;
  border: 1px solid transparent;
  display: inline-block;
  color: $black;
  cursor: pointer;
}

.product_tab_button > a:hover {
  border-color: $yellow;
}
.active {
  border-color: $yellow;
}
// ----------------product-slider---------------
:host ::ng-deep app-product button {
  display: none !important;
}

// ----------------- top icon containers---------------
.shipping-icon-container.col2 {
  margin-bottom: 10px;
}
// ----------------category-slider---------------
.category-item-cont > img {
  max-width: 100%;
  height: 90%;
}
.category-item-cont {
  background: $white !important;
  height: 130px;
  width: 300px;
}
.category-carousel {
  background: $light-grey;
}

#category-carousel {
  height: 350px;
}
:host ::ng-deep #category-carousel .carousel-item {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.cat-name:hover {
  color: $yellow;
  cursor: pointer;
}

:host ::ng-deep .single-article > mat-card {
  width: 30vw;
  height: auto;
  padding: 0 30px;
}

:host ::ng-deep .single-article > mat-card > mat-card-header > a.addBtn {
  color: $black;
  font-size: 14px;
  font-weight: 700;
  padding: 0 70px;
  line-height: 36px;
  height: 36px;
  text-transform: capitalize;
  background: $yellow;
  display: block;
  position: absolute;
}
:host ::ng-deep .single-article > mat-card > mat-card-header > a {
  object-fit: scale-down;
}
:host
  ::ng-deep
  .single-article
  > mat-card
  > mat-card-header
  > ul
  > li
  > .icon-wrapper {
  height: 60px;
  width: 60px;
  line-height: 69px;
  right: 15px;
}
:host ::ng-deep .single-article > mat-card > mat-card-header > ul > li {
  padding: 20px 0;
}
:host
  ::ng-deep
  .single-article
  > mat-card
  > mat-card-header
  > .image-container {
  height: 350px;
}
:host
  ::ng-deep
  .single-article
  > mat-card
  > mat-card-header
  > .image-container
  a.product-image {
  height: 100%;
  width: 100%;
}

.banner-row > img {
  max-width: 100%;
}

.banner-image-wrapper {
  img:hover {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: tada;
    animation-name: tada;
    opacity: 0.7;
    cursor: pointer;
  }
}
