@import "../../styles/mixins";

.mat-card {
  text-align: -webkit-center;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.example-form-field {
  width: 400px;
  margin-left: 3em;
  font-size: 17px;
}

.mat-raised-button {
  width: 250px;
  font-size: medium;
  font-weight: 700;
  color: #fff;
}

textarea {
  height: 100px;
}

.size {
  font-size: 15px;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

:host ::ng-deep mat-horizontal-stepper {

  .border-outline {
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
  }

  .mat-horizontal-stepper-header-container {
    .mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
      background: #fdb813;
      color: #333
    }
  }

  .mat-step-icon.mat-step-icon-state-edit {
    background: #fdb813;
    color: #333
  }

}

:host ::ng-deep .btn-container {

  .order-form-btn {

    @include btn(0px, 36px);
    width: 250px;
    border-radius: 0px;
  }


  .order-form-btn:hover {
    @include btn-hover();
  }
}


:host ::ng-deep .example-form {


  mat-form-filed {
    background: red;

    .mat-form-field-infix {
      background: red;

      .mat-input-element {
        background: red;
        color: #fdb813;
      }
    }
  }
}
