@import "../../styles/variables";

.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 33.333%;
  margin-top: 2rem;
}
.banner-row {
  background-image: url(src/assets/carousel/banner11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.mat-slider-horizontal {
  min-width: 240px;
}
.dataViewConteiner {
  height: auto;
  min-height: 100%;
}
.price-slider-btn {
  width: 70px;

  line-height: 30px;
  padding: 0 20px;
  text-transform: capitalize;
  color: $white;
  background: $black;
  border: 0;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.price-slider-btn:hover {
  color: $black;
  background-color: $yellow;
}
// Sidebar styles
.sidebar-panel {
  top: 100px;
  background: $white;
  position: sticky;
  padding: 20px;
  background: $sorting-panel-color;
}
.sidebar_widget > h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 24px;
}
.range-slider-widget,
.widget_manufs,
.widget_categories {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 29px;
  padding-bottom: 20px;
}

.chk-brand-text,
.chk-manuf-text {
  font-size: 17px;
  display: block;
  line-height: 27px;
  margin-left: 8px;
  letter-spacing: 0.95px;
}
