<section
  class="banner-row"
  [ngStyle]="{ 'margin-bottom': '30px', 'margin-top': '30px' }"
>
  <div
    class="banner-wrapper"
    fxLayout="row wrap"
    fxLayoutAlign="center stretch"
    [ngStyle]="{ height: '200px' }"
  ></div>
</section>
<div class="container-fluid">
  <div class="row mx-auto">
    <div class="col-lg-9 col-md-12">
      <!-- --------------------long-banner----------------- -->

      <!-- ---------------------DataView--------------------------- -->
      <div *ngIf="products$ | async as products" class="dataViewConteiner">
        <p-dataView
          #dataview
          *ngIf="
            products
              | search: prodServ.searchText
              | priceSort: prodServ.price
              | sorting: prodServ.category
              | sortBrand: prodServ.brand
              | sortBy: prodServ.SortOption as result
          "
          [value]="result"
          class="dashboard"
          [paginator]="true"
          [rows]="5"
          layout="grid"
          loadingIcon="fa-spinner"
          currentPageReportTemplate="{first}-{last} of {totalRecords} records"
          showCurrentPageReport="true"
          [sortField]="sortField"
          [sortOrder]="sortOrder"
        >
          <p-header class="mb-4">
            <div fxLayout="row wrap" fxLayout="20px">
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
              <p-dropdown
                class="m-auto"
                [options]="sortOptions"
                [(ngModel)]="sortKey"
                placeholder="Sort By"
                (onChange)="onSortChange($event)"
                [style]="{ 'min-width': '300px', 'min-height': '15px' }"
              ></p-dropdown>
              <span class="float-right">{{ paginatorTemplateUpload() }} </span>
            </div>
          </p-header>
          <br />
          <!-- <ng-template let-product pTemplate="listItem">
                    <div class="p-col-12">
                      <app-product [product]="product"> </app-product>
                    </div>
                  </ng-template> -->

          <ng-template let-product pTemplate="gridItem">
            <app-product
              class="box mx-3"
              [ngStyle.lt-md]="{ 'margin-top': '2rem' }"
              [ngStyle.md]="{ width: '30%', 'margin-top': '2rem' }"
              [ngStyle.sm]="{ width: '50%', 'margin-top': '2rem' }"
              [ngStyle.gt-md]="{ width: '26%', 'margin-top': '2rem' }"
              [product]="product"
            >
            </app-product>
          </ng-template>
          <ng-template let-product pTemplate="listItem">
            <div class="p-col-12">
              <app-long-prod-card class="box mx-3" [product]="product">
              </app-long-prod-card>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>

    <div
      class="col-lg-3 col-md-12"
      style="top: 100px; background: #f4f4f4; position: sticky;"
    >
      <aside class="sidebar_widget">
        <div class="widget_inner">
          <div
            class="range-slider-widget mt-4"
            fxLayout="column"
            fxLayoutAlign="start"
            fxLayoutGap="30px"
          >
            <h5>Filter by price</h5>
            <p-slider
              [(ngModel)]="rangeSliderValues"
              [style]="{ width: '14em' }"
              [range]="true"
            ></p-slider>
            <button class="price-slider-btn" (click)="filterPrices()">
              Filter
            </button>
            <div
              class="range-values-raport"
              fxLayout="row wrap"
              fxLayoutAlign="end"
            >
              <p>
                Range: {{ rangeSliderValues[0] + " - " + rangeSliderValues[1] }}
              </p>
            </div>
          </div>
          <div class="widget_list widget_categories">
            <h2>categories</h2>
            <ul *ngFor="let category of categoriesData">
              <li>
                <input type="checkbox" />
                <a href="#">{{ category.name }}</a>
                <span class="checkmark"></span>
                <ul class="submenu-type">
                  <li>
                    <input type="checkbox" />
                    <a href="#">{{ category.type }}</a>
                    <span class="checkmark"></span>
                  </li>
                </ul>
                <ul class="submenu-form">
                  <li>
                    <input type="checkbox" />
                    <a href="#">{{ category.form }}</a>
                    <span class="checkmark"></span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="widget_list widget_categories">
            <h2>categories</h2>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  All Categories
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ul
                class="ml-4"
                fxLayout="column"
                fxLayoutGap="15px"
                fxLayoutAlign="space-around start"
              >
                <br />
                <li [routerLink]="['/category', 'all']">
                  <a
                    (click)="setProductCat('all')"
                    class="defaultLink"
                    routerLinkActive="activeLink"
                    >Show All</a
                  >
                </li>
                <li [routerLink]="['/category', 'laptops']">
                  <a
                    class="defaultLink"
                    routerLinkActive="activeLink"
                    (click)="setProductCat('laptops')"
                    >Laptops</a
                  >
                </li>
                <li [routerLink]="['/category', 'smart_phones']">
                  <a
                    class="defaultLink"
                    routerLinkActive="activeLink"
                    (click)="setProductCat('smart_phones')"
                    >Smart Phones</a
                  >
                </li>
                <li [routerLink]="['/category', 'tv_audio']">
                  <a
                    class="defaultLink"
                    routerLinkActive="activeLink"
                    (click)="setProductCat('tv_audio')"
                    >Tv&Audio</a
                  >
                </li>
                <li [routerLink]="['/category', 'headphones']">
                  <a
                    class="defaultLink"
                    routerLinkActive="activeLink"
                    (click)="setProductCat('headphones')"
                    >Headphones</a
                  >
                </li>
                <li [routerLink]="['/category', 'cameras']">
                  <a
                    class="defaultLink"
                    routerLinkActive="activeLink"
                    (click)="setProductCat('cameras')"
                    >Cameras</a
                  >
                </li>
                <li [routerLink]="['/cart']">
                  <a class="defaultLink" routerLinkActive="activeLink">Cart</a>
                </li>
              </ul>
            </mat-expansion-panel>
          </div>

          <div class="widget_list widget_categories">
            <h2>Manufacturer</h2>
            <mat-radio-group>
              <div
                fxLayout="column"
                fxLayoutGap="15px"
                fxLayoutAlign="space-start start"
                *ngFor="let brand of manufacturerData"
              >
                <mat-radio-button
                  style="width: 10px;"
                  class="text-muted"
                  (click)="setBrandCat(brand)"
                  [value]="brand.brand"
                  name="fieldName"
                  ngDefaultControl
                >
                  {{ brand.brand }}
                </mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>
        <div class="shop_sidebar_banner"></div>
      </aside>
    </div>
  </div>
</div>
