<div
  #value
  *ngIf="products$ | async as products"
  class="dashboard"
  class="mr-5"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayout.gt-xs="row wrap"
  fxLayoutGap.xs="20px"
  fxLayoutAlign.sm="space-evenly center"
  fxLayoutAlign.md="space-around center"
  fxLayoutAlign.gt-md="space-around center"
  fxLayout.sm="{{ LayoutChange() }}"
>
  <app-product
    class="box"
    *ngFor="let product of products"
    [ngStyle.lt-md]="{ 'margin-top': '2rem' }"
    [ngStyle.md]="{ width: '30%', 'margin-top': '2rem' }"
    [ngStyle.sm]="{ width: '50%', 'margin-top': '2rem' }"
    [ngStyle.gt-md]="{ width: '30%', 'margin-top': '2rem' }"
    [product]="product"
  >
  </app-product>

  <!-- <app-product
    class="box"
    *ngFor="
      let product of products
        | search: prodServ.searchText
        | sorting: prodServ.category
        | sortBrand: prodServ.brand
        | priceSort: prodServ.price
    "
    [ngStyle.lt-md]="{ 'margin-top': '2rem' }"
    [ngStyle.md]="{ width: '30%', 'margin-top': '2rem' }"
    [ngStyle.sm]="{ width: '50%', 'margin-top': '2rem' }"
    [ngStyle.gt-md]="{ width: '30%', 'margin-top': '2rem' }"
    [product]="product"
  >
  </app-product> -->

  <div
    class="container-fluid mt-5"
    *ngIf="(products | search: prodServ.searchText).length == 0"
  >
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <mat-card class="no-item">
          <mat-card-content class="bg-light">
            <div class="d-flex justify-content-center">
              <div class="float-left" fxShow="true" fxShow.xs="false">
                <img
                  mat-card-image
                  alt=""
                  src="assets/clipart164927.png"
                  class="img-fluid rounded mx-auto d-block"
                />
              </div>

              <div class="text-left mr-4">
                <br />
                <br />
                <br />
                <br />

                <h1
                  class="text-danger font-weight-bold mt-6 text-center"
                  style="font-size: 3.5em;"
                >
                  Product Not Found
                </h1>
                <h3 class="text-muted font-weight-bold mt-5 text-center">
                  <em>Please return to the main page</em>
                </h3>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
