.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 33.333%;
  margin-top: 2rem;
}
.banner-row {
  background-image: url(src/assets/carousel/banner11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.mat-slider-horizontal {
  min-width: 240px;
}
.dataViewConteiner {
  height: auto;
  min-height: 100%;
}
.price-slider-btn {
  width: 70px;
  border-radius: 15px;
  color: #fff;
  background-color: black;
}
.price-slider-btn:hover {
  color: black;
  background-color: #fdb813;
}
// Sidebar styles
.sidebar_widget > h4 {
  font-size: 16px;
  margin: 0 0 15px;
  padding: 0 0 5px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 24px;
}
