.sample-wrapper {
  padding-left: 10px;
}
// ---------slider-content-------------
.picsum-img-wrapper {
  position: relative;
}
.picsum-img-wrapper > .slider-text-container.slider-main-2 {
  top: 10px;
  position: absolute;
  left: 45px;
}
.picsum-img-wrapper > .slider-text-container.slider-main-1 {
  top: 10px;
  position: absolute;
  right: 50px;
}
.picsum-img-wrapper > .slider-text-container.slider-main-3 {
  top: 10px;
  position: absolute;
  right: 50px;
}
.picsum-img-wrapper > .slider-text-container > h1,
h2,
p {
  margin-top: 0px;
}
.picsum-img-wrapper > .slider-text-container > h2 {
  font-weight: 300;
  text-transform: capitalize;
  line-height: 1;
  font-size: 14px;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.picsum-img-wrapper > .slider-text-container > h1 {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.06em;
  margin-bottom: 0;
  font-family: "Overpass", sans-serif;
}
.picsum-img-wrapper > .slider-text-container > p {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  font-size: 10px;
  font-weight: 300;

  line-height: 24px;

  text-transform: capitalize;
}

.picsum-img-wrapper > .slider-text-container > a {
  cursor: pointer;
  background-color: #fdb813 !important;

  position: relative;

  font-weight: 700;
  color: #333;

  text-transform: capitalize;
  display: inline-block;
  border-radius: 3px;
  padding: 0 30px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.addBtn {
  line-height: 35px;
  font-size: 15px;
}

.picsum-img-wrapper > .slider-text-container > a:hover {
  background-color: #333 !important;
  color: #fff;
}

// --------------------row with icons ------------------

.icon-wrapper {
  height: 50px;
  width: 50px;
  line-height: 48px;
  border: 1px solid #ededed;
  border-radius: 100%;
  text-align: center;
  transition: 0.3s;
  margin-right: 11px;
  text-align: center;
  cursor: default;
}
.shipping-icon-container {
  margin-top: 20px;
  margin-right: 40px;
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
  place-content: center space-around;
  align-items: center;
  width: 30%;
}

.truck-icon {
  line-height: 48px;

  transition: 0.3s;
  color: #fdb813;
}

.icon-wrapper:hover {
  background-color: #fdb813;
  .truck-icon {
    color: black;
  }
}
.shipping-icon-container > p {
  text-transform: capitalize;
}

// -----------------------row with banners---------------
.banner-image {
  content: url("/src/assets/banner2.jpg");
}
.single-banner {
  margin-top: 40px;
  transition: transform 0.2s; /* Animation */
  cursor: pointer;
}
.single-banner:hover {
  transform: scale(1.1) rotate(0.05deg);

  img {
    opacity: 0.7;
  }
}
// --------------------row with new arrivals---------------

.product_tab_button > a {
  line-height: 28px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  padding: 0 20px;
  border: 1px solid transparent;
  display: inline-block;
  color: #333;
  cursor: pointer;
}

.product_tab_button > a:hover {
  border-color: #fdb813;
}
.active {
  border-color: #fdb813;
}

// ----------------category-slider---------------
.category-item-cont > img {
  max-width: 100%;
  height: auto;
}
.category-item-cont {
  background: #fff !important;
  width: 43vw;
}
.category-carousel {
  background: #ededed;
}

#category-carousel {
  height: 350px;
}
:host ::ng-deep #category-carousel .carousel-item {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.cat-name:hover {
  color: #fdb813;
  cursor: pointer;
}

:host
  ::ng-deep
  .single-article
  > mat-card
  > mat-card-header
  > a
  > mat-card-title {
  height: 50vh !important;
}
:host ::ng-deep .single-article > mat-card > mat-card-header > a.addBtn {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  line-height: 36px;
  height: 36px;
  text-transform: capitalize;
  background: #fdb813;
  display: block;
  position: sticky;
  top: 49vh;
}
:host ::ng-deep .single-article > mat-card > mat-card-header > a img {
  width: 350px;
  height: 350px;

  object-fit: scale-down;
}

.banner-row > img {
  max-width: 100%;
}

.banner-image-wrapper {
  img:hover {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: tada;
    animation-name: tada;
    opacity: 0.7;
    cursor: pointer;
  }
}

// ------------------------product carousel----------------
.carousel-product-mobile ::ng-deep .single-product {
  background: red;
}
// ------------------------category carousel----------------
.catagory-data {
  width: 300px;
  background: #fff;
  padding: 10px 0 40px;
}
.category-title {
  margin: 10px 0;
}
.category-carousel {
  background: #eceff1;
}

// ------------------------Banner with rols----------------
.banner-image {
  transition: 0.3s;
}
.banner-wrapper {
  padding: 0px 8vh;
}
.banner-wrapper:hover {
  transform: scale(1.1) rotate(0.05deg);
}

// -------------------Product card Section------------------

:host ::ng-deep .single-article > mat-card {
  width: 65%;
  height: 30%;
  padding: 0 auto;
  margin: 0 auto !important;
  -webkit-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
  -moz-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
}

:host ::ng-deep .single-article > mat-card > mat-card-header > a img {
  width: 80%;
  height: 50vh;
}
:host ::ng-deep .single-article > mat-card > mat-card-content {
  width: 70vw;
}
:host ::ng-deep .single-article > mat-card > mat-card-content > .prod-name {
  width: 60%;
}
.product-cards {
  margin-bottom: 50px;
}
.product-cards-wrapper {
  margin-bottom: 30px;
}
// -------------------Footer Section Version------------------

.product-mobile-carousel {
  padding: 0 20px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  :host ::ng-deep .single-article > mat-card {
    width: 60%;
  }
  :host ::ng-deep .single-article > mat-card > .mat-card-content {
    width: 80%;
    height: 26vh;
  }
}
