<section class="main-slider-carousel">
  <div fxLayout="row wrap" fxLayoutAlign="center">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper animate__animated animate__fadeIn">
          <img [src]="images[0]" alt="Random first slide" />
          <div
            class="slider-text-container slider-main-1"
            fxLayout="column"
            fxLayoutGap="8px"
            fxLayoutAlign="center center"
          >
            <h2>The New</h2>
            <h1>The New</h1>
            <a [ngClass]="['addBtn']">Shopping Now</a>
          </div>
        </div>
        <div class="carousel-caption"></div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper animate__animated animate__fadeIn">
          <img [src]="images[1]" alt="Random second slide" />
          <div
            class="slider-text-container slider-main-2"
            fxLayout="column"
            fxLayoutGap="8px"
            fxLayoutAlign="center center"
          >
            <h2>The New</h2>
            <h1>The New</h1>
            <a [ngClass]="['addBtn']">Shopping Now</a>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper animate__animated animate__fadeIn">
          <img [src]="images[2]" alt="Random third slide" />
          <div
            class="slider-text-container slider-main-3"
            fxLayout="column"
            fxLayoutGap="8px"
            fxLayoutAlign="center center"
          >
            <h2>The New</h2>
            <h1>The New</h1>
            <a [ngClass]="['addBtn']">Shopping Now</a>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>

<section class="contact-icons-row">
  <div
    fxLayout.xs="column"
    fxLayoutAlign.xs="space-around center"
    fxLayoutGap.xs="30px"
    fxLayout.gt-xs="row wrap"
    fxLayoutGap.gt-xs="40px"
    class="m-3"
    fxLayoutAlign.gt-xs="space-around center"
  >
    <div
      [ngClass.gt-xs]="['shipping-icon-container ']"
      fxLayout="row wrap"
      fxLayoutAlign="space-around center"
    >
      <div class="icon-wrapper">
        <mat-icon class="truck-icon">local_shipping</mat-icon>
      </div>
      <div class="text-wrapper pt-2">
        <p>Free Shipping on Order</p>
      </div>
    </div>
    <div
      [ngClass.gt-xs]="['shipping-icon-container ']"
      fxLayout="row wrap"
      fxLayoutAlign="space-around center"
    >
      <div class="icon-wrapper">
        <mat-icon class="truck-icon">local_phone</mat-icon>
      </div>
      <div class="text-wrapper pt-2">
        <p>Contact us 24 hrs a day</p>
      </div>
    </div>
    <div
      [ngClass.gt-xs]="['shipping-icon-container ']"
      fxLayout="row wrap"
      fxLayoutAlign="space-around center"
    >
      <div class="icon-wrapper">
        <mat-icon class="truck-icon">send</mat-icon>
      </div>
      <div class="text-wrapper pt-2">
        <p>Free Shipping on Order</p>
      </div>
    </div>
    <div
      [ngClass.gt-xs]="['shipping-icon-container ']"
      fxLayout="row wrap"
      fxLayoutAlign="space-around center"
    >
      <div class="icon-wrapper">
        <mat-icon class="truck-icon">credit_card</mat-icon>
      </div>
      <div class="text-wrapper pt-2">
        <p>Free Shipping on Order</p>
      </div>
    </div>
  </div>
</section>

<section class="banners-row" [ngStyle]="{ 'margin-bottom': '30px' }">
  <div
    class="banners-wrapper"
    fxLayout.xs="column"
    fxLayout.gt-xs="row wrap"
    fxLayoutGap="20px"
    fxLayoutAlign="center center"
    class="m-4"
  >
    <div class="single-banner" [ngStyle.gt-xs]="{ width: '25vw' }">
      <div class="banner_thumb">
        <a><img [src]="banners[0]" /></a>
      </div>
    </div>
    <div class="single-banner" [ngStyle.gt-xs]="{ width: '25vw' }">
      <div class="banner_thumb">
        <a><img [src]="banners[1]" /></a>
      </div>
    </div>
    <div class="single-banner" [ngStyle.gt-xs]="{ width: '25vw' }">
      <div class="banner_thumb">
        <a><img [src]="banners[2]" /></a>
      </div>
    </div>
  </div>
</section>

<section
  class="arrivals-row"
  [ngStyle]="{ 'margin-bottom': '30px' }"
  [ngStyle.sm]="{ 'margin-bottom': '0px' }"
>
  <div
    class="arrivals-wrapper"
    fxLayout="row wrap"
    fxLayoutAlign="space-around center"
  >
    <div class="new-arrivals-text pb-4">
      <h4>New Arrivals</h4>
    </div>
    <div
      class="product_tab_button"
      fxLayout="row wrap"
      fxLayoutAlign="space-around center"
    >
      <a [routerLink]="" routerLinkActive="active">Automobiles</a>
      <a [routerLink]="" routerLinkActive="active">Automobiles</a>
      <a [routerLink]="" routerLinkActive="active">Automobiles</a>
    </div>
  </div>
</section>
<!-- --------------product-card(xs)--------------- -->
<section class="product-card" [ngStyle]="{ 'margin-bottom': '30px' }">
  <div
    class="product-cards-wrapper"
    *ngIf="prods$ | async as products"
    fxShow="false"
  >
    <app-product [product]="products[0][0]" class="single-article">
    </app-product>
  </div>
</section>
<!-- --------------category-carousel-xs--------------- -->
<section
  [ngStyle]="{ 'margin-bottom': '30px' }"
  class="d-flex justify-content-center category-carousel"
>
  <p-carousel
    [value]="categoryList"
    orientation="vertical"
    [style]="{ 'max-width': '400px', 'margin-top': '2em' }"
    verticalViewPortHeight="200px"
    fxShow.gt-xs="false"
    [numVisible]="1"
    [numScroll]="1"
    [dotsContainerClass]="{ display: 'none!important' }"
  >
    <ng-template let-category pTemplate="item">
      <div class="category-details">
        <div class="">
          <div
            class="catagory-data"
            fxLayout="column"
            fxLayoutAlign="space-around center"
          >
            <div class="category-title">{{ category.name }}</div>
            <div class="category-img"><img src="{{ category.image }}" /></div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>
<!-- --------------product-carousel-sm-md--------------- -->
<section
  [ngStyle]="{ 'margin-bottom': '30px' }"
  class="product-mobile-carousel"
  *ngIf="prodsAll$ | async as products"
>
  <p-carousel
    [value]="products"
    [style]="{ 'max-width': '100vw', 'margin-top': '2em' }"
    verticalViewPortHeight="200px"
    fxShow.sm="true"
    [numVisible]="2"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template class="carousel-product-mobile" let-category pTemplate="item">
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <app-product
          [product]="category"
          [ngStyle]="{ width: '90%' }"
          class="single-product"
        ></app-product>
      </div>
    </ng-template>
  </p-carousel>
</section>
<!-- --------------category-carousel-sm,md--------------- -->
<section
  class="category-carousel m-auto"
  fxShow.sm="true"
  fxShow.md="true"
  fxShow="false"
  [ngStyle]="{ 'margin-bottom': '30px' }"
>
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="pt-5">
    <ngb-carousel
      id="category-carousel"
      [showNavigationArrows]="showArrows"
      class="carousel slide carousel-fade"
    >
      <ng-template ngbSlide class="category-slide1">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutGap="20px">
            <div
              class="category-item-cont p-2 mr-2"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <img [src]="categories[2]" />
              <a class="cat-name">Electronics</a>
            </div>
            <div
              class="category-item-cont p-2 mr-2"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <img [src]="categories[5]" />
              <a class="cat-name">Automobiles</a>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="20px">
            <div
              class="category-item-cont p-2 ml-2"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <img [src]="categories[0]" />
              <a class="cat-name">Hot Categories</a>
            </div>
            <div
              class="category-item-cont p-2 ml-2"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <img [src]="categories[3]" />
              <a class="cat-name">Bottoms</a>
            </div>
          </div>
        </div>
        <div class="carousel-caption"></div>
      </ng-template>
      <ng-template ngbSlide class="category-slide1">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutGap="20px">
            <div
              class="category-item-cont p-2 mr-2"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <img [src]="categories[2]" />
              <a class="cat-name">Electronics</a>
            </div>
            <div
              class="category-item-cont p-2 mr-2"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <img [src]="categories[5]" />
              <a class="cat-name">Automobiles</a>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="20px">
            <div
              class="category-item-cont p-2 ml-2"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <img [src]="categories[0]" />
              <a class="cat-name">Hot Categories</a>
            </div>
            <div
              class="category-item-cont p-2 ml-2"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <img [src]="categories[3]" />
              <a class="cat-name">Bottoms</a>
            </div>
          </div>
        </div>
        <div class="carousel-caption"></div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>
<!-- ------------------------------------------------ -->
<section
  class="banner-row"
  [ngStyle]="{ 'margin-bottom': '30px', 'margin-top': '30px' }"
>
  <div
    class="banner-wrapper"
    fxLayout="row wrap"
    fxLayoutAlign="center stretch"
  >
    <img class="banner-image" [src]="banners[3]" />
  </div>
</section>

<section class="arrivals-row" [ngStyle]="{ 'margin-bottom': '30px' }">
  <div
    class="arrivals-wrapper"
    fxLayout="row wrap"
    fxLayoutAlign="space-around center"
  >
    <div class="new-arrivals-text pb-4">
      <h4>New Arrivals</h4>
    </div>
    <div
      class="product_tab_button"
      fxLayout="row wrap"
      fxLayoutAlign="space-around center"
    >
      <a [routerLink]="" routerLinkActive="active">Automobiles</a>
      <a [routerLink]="" routerLinkActive="active">Automobiles</a>
      <a [routerLink]="" routerLinkActive="active">Automobiles</a>
    </div>
  </div>
</section>
<!-- --------------product-carousel-sm-md--------------- -->
<section
  [ngStyle]="{ 'margin-bottom': '30px' }"
  class="product-mobile-carousel"
  *ngIf="prodsAll$ | async as products"
>
  <p-carousel
    [value]="products"
    [style]="{ 'max-width': '100vw', 'margin-top': '2em' }"
    verticalViewPortHeight="200px"
    fxShow.sm="true"
    [numVisible]="2"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template class="carousel-product-mobile" let-category pTemplate="item">
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <app-product
          [product]="category"
          [ngStyle]="{ width: '90%' }"
          class="single-product"
        ></app-product>
      </div>
    </ng-template>
  </p-carousel>
</section>
<!-- --------------product-card(xs)--------------- -->
<section
  class="product-card"
  fxShow.sm="true"
  fxShow.md="false"
  [ngStyle]="{ 'margin-bottom': '30px' }"
>
  <div class="product-cards-wrapper" *ngIf="prods$ | async as products">
    <app-product [product]="products[0][1]" class="single-article">
    </app-product>
  </div>
</section>
<section
  class="product-card"
  fxShow.sm="true"
  fxShow.md="false"
  [ngStyle]="{ 'margin-bottom': '30px' }"
>
  <div class="product-cards-wrapper" *ngIf="prods$ | async as products">
    <app-product [product]="products[0][3]" class="single-article">
    </app-product>
  </div>
</section>

<section class="product-cards" fxShow.xs="false" fxShow="false">
  <div class="product-cards-wrapper" *ngIf="prods$ | async as products">
    <app-product [product]="products[0][0]" class="single-article">
    </app-product>
  </div>
  <div class="product-cards-wrapper" *ngIf="prods$ | async as products">
    <app-product [product]="products[0][1]" class="single-article">
    </app-product>
  </div>
  <div class="product-cards-wrapper" *ngIf="prods$ | async as products">
    <app-product [product]="products[0][2]" class="single-article">
    </app-product>
  </div>
  <div class="product-cards-wrapper" *ngIf="prods$ | async as products">
    <app-product [product]="products[0][3]" class="single-article">
    </app-product>
  </div>
</section>
<section class="arrivals-row" [ngStyle]="{ 'margin-bottom': '30px' }">
  <div
    class="arrivals-wrapper"
    fxLayout="row wrap"
    fxLayoutAlign="space-around center"
  >
    <div class="new-arrivals-text pb-4">
      <h4>New Arrivals</h4>
    </div>
    <div
      class="product_tab_button"
      fxLayout="row wrap"
      fxLayoutAlign="space-around center"
    >
      <a [routerLink]="" routerLinkActive="active">Automobiles</a>
      <a [routerLink]="" routerLinkActive="active">Automobiles</a>
      <a [routerLink]="" routerLinkActive="active">Automobiles</a>
    </div>
  </div>
</section>
<!-- --------------product-carousel-sm-md--------------- -->
<section
  [ngStyle]="{ 'margin-bottom': '30px' }"
  class="product-mobile-carousel"
  *ngIf="prodsAll$ | async as products"
>
  <p-carousel
    [value]="products"
    [style]="{ 'max-width': '100vw', 'margin-top': '2em' }"
    verticalViewPortHeight="200px"
    fxShow.sm="true"
    [numVisible]="2"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template class="carousel-product-mobile" let-category pTemplate="item">
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <app-product
          [product]="category"
          [ngStyle]="{ width: '90%' }"
          class="single-product"
        ></app-product>
      </div>
    </ng-template>
  </p-carousel>
</section>
