<div class="container">
  <div class="row product-view-container">
    <div class="col">
      <div class="col-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="card-title"> </mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <div class="img-container">
            <img
              mat-card-image
              class="mat-image"
              src="{{ product.url_image }}"
            />
          </div>
        </mat-card>
      </div>
      <div
        class="col-12 small-carousel-container"
        fxLayout="row wrap"
        fxLayoutAlign="space-around center"
      >
        <p-carousel
          [value]="imagesArray"
          numVisible="1"
          numScroll="1"
          class="product-image-carousel"
        >
          <ng-template let-item pTemplate="item">
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
              <div class="row pt-4">
                <div class="col-12">
                  <img [src]="item.images" style="height: 150px;" />
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <div class="col">
      <div class="col-12">
        <h1 class="product_d_right">{{ product.name }}</h1>
        <h1 class="price_box mt-4">
          {{ product.client_price
          }}<small class="pl-2">{{ product.currency }}</small>
        </h1>
        <h1 class="manuf_box">
          {{ product.manufacturer }}
        </h1>

        <p class="lead" [ngStyle.sm]="{ width: '30vw' }">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industrys standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <mat-divider></mat-divider>
        <p class="mt-3 text-primary blockquote">
          Dostępność na magazynie
          <span class="stock_amount pl-3">{{ product.count_available }}</span>
        </p>
        <div fxLayout="column" fxLayoutGap="60px">
          <div class="btns_container" fxLayout="row wrap">
            <h1><small>Quantity :</small></h1>
            <div class="d-flex justify-content-center mt-2 mx-3">
              <button
                class="remove_btn"
                mat-icon-button
                (click)="removeOneItem()"
              >
                <mat-icon style="font-size: 24px;">remove</mat-icon>
              </button>
              <input
                [class.product_qnt]="true"
                [(ngModel)]="quantity"
                class="ml-3 mr-3"
                type="text"
                value="1"
              />

              <button mat-icon-button class="add_btn" (click)="addOneItem()">
                <mat-icon style="font-size: 20px;">add</mat-icon>
              </button>
            </div>
          </div>

          <div
            class="btns_container"
            fxLayout="row wrap"
            fxLayoutAlign="space-between stretch"
          >
            <button
              [ngStyle.xs]="{ width: '30vw', 'font-size': '10' }"
              [routerLink]="['/cart']"
              mat-raised-button
              class="cart_btn"
              color="warn"
              (click)="addToCart()"
            >
              <strong>Dodaj do Koszyka</strong>
            </button>
            <button
              [ngStyle.xs]="{ width: '30vw', 'font-size': '10' }"
              mat-raised-button
              [routerLink]="['/order']"
              class="order_btn"
              color="warn"
            >
              <strong>Kup Teraz</strong>
            </button>
          </div>
        </div>
      </div>

      <div class="row carousels-container">
        <div class="col-12">
          <div class="col-10"></div>
        </div>
        <div class="col-12">
          <div class="col-10"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="product-description">
  <div class="container-fluid">
    <div
      class="row prod-description-container"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
    >
      <div class="col-10">
        <div class="col-12 navigation-container">
          <mat-horizontal-stepper labelPosition="bottom" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel> Opis</ng-template>

                <mat-label>{{ product.name }}</mat-label>
                <p>
                  {{
                    product.description
                      | stringReplacement: prodServ.emphasisWords
                  }}
                </p>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Specyfikacja</ng-template>

                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Opinia o produkcie</ng-template>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  [ngStyle]="{ 'margin-bottom': '30px' }"
  class="product-mobile-carousel1"
  *ngIf="prodsAll$ | async as products"
>
  <p-carousel [value]="products" [numVisible]="5" [numScroll]="1">
    <ng-template let-category pTemplate="item">
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <app-product [product]="category"></app-product>
      </div>
    </ng-template>
  </p-carousel>
</section>
<section
  [ngStyle]="{ 'margin-bottom': '30px' }"
  class="product-carousel2"
  *ngIf="prodsAll$ | async as products"
>
  <p-carousel [value]="products" [numVisible]="5" [numScroll]="1">
    <ng-template let-category pTemplate="item">
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <app-product [product]="category"></app-product>
      </div>
    </ng-template>
  </p-carousel>
</section>
