@import "../../styles/mixins";
//image-descripti concontainer
.mat-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  height: 600px;
}
mat-card {
  height: auto;
  border: 1px solid #ededed;
  margin-top: 60px;
}
.ui-carousel-items-content {
  background: red;
}
:host ::ng-deep .ui-carousel-content {
  width: 330px;
  .ui-carousel-container {
    height: 200px;

    button.ui-carousel-prev,
    .ui-carousel-next {
      background: transparent;
      border-color: transparent !important;
    }
  }
}

.product_d_right {
  text-transform: capitalize;
  line-height: 35px;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 22px;
  margin-top: 60px;
}
.price_box,
.stock_amount {
  color: #f30;
  font-weight: 600;
  font-size: 23px;
}
.manuf_box {
  color: #fdb813;
}
.product_qnt {
  width: 40px;
  height: 40px;
}

.mat-focus-indicator {
  .mat-icon {
    color: #fdb813;
  }
}

.remove_btn,
.add_btn {
  background-color: #ededed;
}
.remove_btn:hover,
.add_btn:hover {
  background-color: black;
}
.cart_btn,
.order_btn {
  @include btn(0 60px, 36px);
}
.cart_btn:hover,
.order_btn:hover {
  @include btn-hover();
}
