@import "../../../styles/mixins";

.mat-card-header,
.stock-availability {
  display: block;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.stock-availability > span {
  color: #fdb813;
  font-size: 16px;
}
mat-card-header {
  cursor: pointer;
}
.image-container > a {
  width: 260px;
  height: 260px;

  display: block;
  object-fit: scale-down;
  overflow: hidden;
  cursor: pointer;
}
.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.prod-name {
  font-size: 10.5px;
  text-transform: capitalize;
  font-weight: 400;
  text-decoration: none;
}
.prod-name:hover {
  color: #fdb813 !important;
}

.icon-wrapper {
  color: #333;
  height: 40px;
  width: 40px;
  line-height: 48px;
  border: 1px solid #ededed;
  border-radius: 100%;
  text-align: center;
  transition: 0.3s;
  right: 5px;
  text-align: center;
  cursor: default;
}
.icon-wrapper:hover {
  background-color: #fdb813;
}

.current-price {
  color: #f30;
  font-weight: 400;
  font-size: 20px;
  margin-left: 8px;
}
mat-card-header {
  border-bottom: 1px solid #ededed;
}
mat-card-content {
  overflow: hidden;
  cursor: pointer;
  padding-right: 20px;
  flex-basis: 6vw;
  border-right: 1px solid #ededed;
}

.long-card-text-cont {
  align-items: start;
  flex-direction: column;
  display: flex;
  margin-left: 30px;

  margin: 20px 0;
}

.addBtn {
  @include btn(0 50px, 36px);
}
.addBtn:hover {
  @include btn-hover();
}
.product-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.mat-card-actions {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}
mat-card:hover {
  -webkit-box-shadow: inset 0px 0px 0px 1px #fdb813;
  -moz-box-shadow: inset 0px 0px 0px 1px #fdb813;
  box-shadow: inset 0px 0px 0px 1px #fdb813;
}
@media (max-width: 960px) {
  mat-card-content {
    align-items: stretch;
    flex-direction: column;
    padding-left: 20px;
    display: flex;
  }
}
@media (max-width: 600px) {
  .long-card-text-cont {
    margin: 20px 25px;
  }
  .mat-card-actions {
    margin-left: 0px !important;
  }
  .addBtn {
    max-width: 100%;

    width: 70vw;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;

    display: flex;
  }
  mat-card-content {
    border-right: 1px solid transparent !important;
  }
}

@media (max-width: 960px) and (min-width: 601px) {
  .long-card-text-cont {
    margin: 20px 25px;
  }
  .mat-card-actions .mat-stroked-button:first-child {
    margin-left: auto;
    margin-right: auto;
  }
  mat-card-content {
    border-right: 1px solid transparent !important;
  }
  .addBtn {
    max-width: 100%;
    width: 50vw;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;

    display: flex;
  }
}
