.no-hover {
  pointer-events: none;
}

.mat-card-header {
  display: block;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

mat-card-header {
  cursor: pointer;
}
.image-container > a {
  width: 150px;
  height: 150px;

  display: block;
  object-fit: scale-down;
  overflow: hidden;
  cursor: pointer;
}
.image-container {
  position: relative;
  width: 100%;
  height: auto;
}
.manuf-name {
  font-size: 12px;
  text-transform: capitalize;
  line-height: 1;
  color: #333 !important;
  display: block;
  text-decoration: none;
}
.manuf-name:hover {
  color: #fdb813 !important;
}
.prod-name {
  font-size: 10.5px;
  text-transform: capitalize;
  font-weight: 400;
  text-decoration: none;
}
.prod-name:hover {
  color: #fdb813 !important;
}

.icon-wrapper {
  color: #333;
  height: 40px;
  width: 40px;
  line-height: 48px;
  border: 1px solid #ededed;
  border-radius: 100%;
  text-align: center;
  transition: 0.3s;
  right: 5px;
  text-align: center;
  cursor: default;
  position: absolute;
}
.icon-wrapper:hover {
  background-color: #fdb813;
}
.current-price {
  color: #f30;
  font-weight: 400;
  font-size: 20px;
  margin-left: 8px;
}
mat-card-header {
  border-bottom: 1px solid #ededed;
}
mat-card-content {
  width: 190px;
  height: auto;

  display: block;
  object-fit: scale-down;
  overflow: hidden;
  cursor: pointer;
}
.addBtn {
  color: #333;
  bottom: 0px;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  line-height: 36px;
  height: 36px;
  text-transform: capitalize;
  background: #fdb813;
  position: absolute;
  border-radius: 0px;
}

.product-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hover-shadow {
  -webkit-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
  -moz-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
}

mat-card:hover .hover-display {
  display: flex !important;
}
mat-card:hover {
  -webkit-box-shadow: inset 0px 0px 0px 1px #fdb813;
  -moz-box-shadow: inset 0px 0px 0px 1px #fdb813;
  box-shadow: inset 0px 0px 0px 1px #fdb813;
}
