<div class="text-center">
  <div class="flex-center"></div>
</div>
<mat-card class="example-card mt-3">
  <mat-card-header
    class="text-center"
    fxLayout="row wrap"
    fxLayoutAlign="center"
  >
    <a class="image-container" (mouseover)="showButtons()">
      <a
        mat-card-image
        alt=""
        style=" background: url('{{ product.url_image }}')"
        class="img-fluid rounded mx-auto d-block"
      ></a>
      <div
        class="add_to_cart"
        fxLayout="row wrap"
        fxLayoutAlign="center center"
      >
        <a
          mat-stroked-button
          color="primary"
          *ngIf="showElement"
          class="addBtn"
          (click)="addToCart()"
          >Add to Cart</a
        >
      </div>
    </a>

    <ul
      class="icon-wrapper-list"
      fxLayout="column"
      fxLayoutGap="50px"
      *ngIf="showElement"
    >
      <li>
        <div class="icon-wrapper" [routerLink]="">
          <mat-icon class="truck-icon">favorite_border</mat-icon>
        </div>
      </li>
      <li>
        <div class="icon-wrapper" [routerLink]="">
          <mat-icon class="truck-icon">compare_arrows</mat-icon>
        </div>
      </li>
      <li>
        <a
          class="icon-wrapper"
          [routerLink]="['/product', product.id]"
          (click)="idPassing()"
        >
          <mat-icon class="truck-icon">remove_red_eye</mat-icon>
        </a>
      </li>
    </ul>

    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <!-- [src]="image" -->
  <a [routerLink]="" class="my-2 manuf-name">{{ product.manufacturer }}</a>

  <mat-card-content (mouseout)="hideButtons()">
    <div fxLayout="column " fxLayoutGap="10px">
      <a [routerLink]="" class="prod-name">{{ product.name }}</a>
      <span class="current-price">{{ product.client_price }} zł</span>
    </div>
  </mat-card-content>

  <mat-card-actions
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
    (mouseout)="hideButtons()"
  >
  </mat-card-actions>
</mat-card>
