<div class="text-center">
  <div class="flex-center"></div>
</div>
<mat-card class="example-card my-2">
  <mat-card-header
    class="text-center"
    fxLayout="row wrap"
    fxLayoutAlign="center"
    [ngStyle.xs]="{ height: '40vh' }"
  >
    <div class="image-container no-hover">
      <a
        class="product-image m-auto"
        [style.background-image]="productImage"
      ></a>

      <div
        class="add_to_cart hover-display"
        fxLayout="row wrap"
        fxShow="false"
        fxLayoutAlign="center center"
      >
        <a
          mat-stroked-button
          color="primary"
          class="addBtn"
          (click)="addToCart()"
          >Add to Cart</a
        >
      </div>
    </div>

    <ul
      class="icon-wrapper-list hover-display"
      fxLayout="column"
      fxLayoutGap="50px"
      fxShow="false"
    >
      <li>
        <div class="icon-wrapper" [routerLink]="">
          <mat-icon class="truck-icon">favorite_border</mat-icon>
        </div>
      </li>
      <li>
        <div class="icon-wrapper" [routerLink]="">
          <mat-icon class="truck-icon">compare_arrows</mat-icon>
        </div>
      </li>
      <li>
        <a
          class="icon-wrapper"
          [routerLink]="['/product', product.id]"
          (click)="idPassing()"
        >
          <mat-icon class="truck-icon">remove_red_eye</mat-icon>
        </a>
      </li>
    </ul>

    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <!-- [src]="image" -->
  <a [routerLink]="" class="my-2 manuf-name">{{ product.manufacturer }}</a>

  <mat-card-content>
    <div fxLayout="column " fxLayoutGap="10px">
      <a style="width: 70%;" [routerLink]="" class="prod-name">{{
        product.name
      }}</a>
      <a style="width: 70%;" [routerLink]="" class="prod-name"
        >Client discount : {{ product.client_discount }}</a
      >
      <span class="current-price">{{ product.client_price }} zł</span>
    </div>
  </mat-card-content>

  <mat-card-actions
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
    (mouseout)="hideButtons()"
  >
  </mat-card-actions>
</mat-card>
