<!-- Main Screen Table View -->
<div class="container-fluid mt-5" fxShow.sm="false" fxShow.xs="false" fxShow="true">
  <div class="row">
    <div class="col-lg-12 text-center" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center" class="empty-cart-container"
        *ngIf="dataSource.filteredData.length === 0">
        <h1 *ngIf="dataSource.filteredData.length === 0" class="text-muted mb-4">
          <em>Cart is empty right now.</em>
        </h1>
      </div>

      <table *ngIf="dataSource.filteredData.length !== 0" mat-table [dataSource]="dataSource"
        class="mat-elevation-z8 mt-4">
        <!-- Image Column -->
        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-muted">
            Product
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="cart-item-image">
              <a fxFill [ngStyle]="{
                  'background-image': 'url(' + element.url_image + ')'
                }"></a>
            </div>
          </td>

          <td mat-footer-cell *matFooterCellDef>
            <button [routerLink]="['/']" mat-button class="goback-btn">
              Continue
            </button>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-muted text-center">
            Name
          </th>
          <td mat-cell *matCellDef="let element" class="text-center m-auto" [ngStyle.gt-sm]="{ width: '17vw' }">
            {{ element.name }}
          </td>
          <td mat-footer-cell *matFooterCellDef>
            <div class="mx-4" style="width: 100px;"></div>
          </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-muted">
            Price
          </th>
          <td [ngStyle.gt-sm]="{ width: '15vw' }" mat-cell *matCellDef="let element" class="lead text-center m-auto">
            {{ element.client_price.toFixed(2) }}zł
          </td>
          <td mat-footer-cell *matFooterCellDef="remove" class="text-muted lead py-5" [attr.colspan]="2">
            Do zapłaty :
            <span style="color: red; font-weight: 600;">{{ totalPrice.toFixed(2) }}zł</span>
          </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-muted">
            Quantity
          </th>
          <td mat-cell *matCellDef="let element" [ngStyle.gt-sm]="{ width: '15vw' }">
            <div class="d-flex justify-content-center">
              <button mat-icon-button (click)="removeOneItem(element.id)">
                <mat-icon class="minus-icon" style="font-size: 30px;">remove</mat-icon>
              </button>

              <input id="quantityInput" [(ngModel)]="element.quantity" value="" class="ml-3 mr-3" type="text" />
              <button mat-icon-button (click)="addOneItem(element.id)">
                <mat-icon class="plus-icon" style="font-size: 30px;">add</mat-icon>
              </button>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- TotalItemPrice Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-muted">
            Total
          </th>
          <td [ngStyle.gt-sm]="{ width: '15vw' }" mat-cell *matCellDef="let element" class="lead text-center m-auto">
            {{ element.total.toFixed(2) }}zł
          </td>
          <td mat-footer-cell *matFooterCellDef [attr.colspan]="2">
            <button class="order-btn" mat-button [routerLink]="['/order']">
              Make Order
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="remove">
          <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-muted">
            Remove
          </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{ 'text-align': 'center' }"
            [ngStyle.gt-sm]="{ width: '15vw' }">
            <button mat-fab (click)="removeCartItem(element.id)" class="remove-item-btn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        <tr>
          <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
            [length]="totalSize" [pageIndex]="currentPage">
          </mat-paginator>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- ------SM-Screen Table View------------ -->

<div class="row" fxShow.sm="true" fxShow="false" fxLayout="row wrap" fxLayoutAlign.sm="space-around center">
  <div>
    <div fxLayout="column" fxLayoutAlign="center center" class="empty-cart-container"
      *ngIf="dataSource.filteredData.length === 0">
      <h1 class="text-muted mb-4">
        <em>Cart is empty right now.</em>
      </h1>
    </div>

    <table *ngIf="dataSource.filteredData.length !== 0" mat-table [dataSource]="dataSource"
      class="mat-elevation-z8 mt-4">
      <!-- Image Column -->
      <ng-container matColumnDef="product">
        <div [ngStyle.sm]="{ width: '10vw' }">
          <th [ngStyle.sm]="{ width: '10vw' }" mat-header-cell *matHeaderCellDef
            class="font-weight-bold text-muted text-center">
            Product
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="cart-item-image">
              <a fxFill [ngStyle]="{
                  'background-image': 'url(' + element.url_image + ')'
                }"></a>
            </div>
          </td>
        </div>

        <td mat-footer-cell *matFooterCellDef>
          <button class="goback-btn mb-2" mat-button [routerLink]="['/']">
            Main page
          </button>
          <button class="order-btn" mat-button [routerLink]="['/order']">
            Make Order
          </button>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-muted">
          Name
        </th>
        <td mat-cell *matCellDef="let element" [ngStyle.sm]="{ width: '25vw' }">
          <div [ngStyle]="{ width: '25vw' }" fxLayout="column" fxLayoutGap="5%" class="text-left ml-3">
            <p><em class="text-muted">Nazwa:</em> {{ element.name }}</p>
            <p>
              <em class="text-muted">Cena:</em>
              {{ element.client_price.toFixed(2) }}zł
            </p>
            <p>
              <em class="text-muted">Do zapłaty:</em>
              {{ element.total.toFixed(2) }} zł
            </p>
          </div>
        </td>

        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Empty Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-muted"></th>
        <td mat-cell *matCellDef="let element" class="lead"></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-muted">
          Quantity
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex justify-content-center">
            <button mat-icon-button (click)="removeOneItem(element.id)">
              <mat-icon style="font-size: 30px;">remove</mat-icon>
            </button>

            <input [ngStyle]="{
                width: '5vw',
                'text-align': 'center',
                'background-color': 'rgba(255, 139, 20, 0.3)'
              }" [(ngModel)]="element.quantity" value="" class="ml-3 mr-3" type="text" />
            <button mat-icon-button (click)="addOneItem(element.id)">
              <mat-icon style="font-size: 30px;">add</mat-icon>
            </button>
          </div>
        </td>

        <td mat-footer-cell *matFooterCellDef="remove" class="text-muted lead py-5" [attr.colspan]="2">
          Do zapłaty:
          <span style="color: red; font-weight: 600;">{{ totalPrice.toFixed(3) }}zł</span>
        </td>
      </ng-container>
      <!-- Empty Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>
      <!-- Remove Column -->
      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-muted">
          Remove
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-fab [ngStyle]="{ margin: '30px' }" (click)="removeCartItem(element.id)" class="remove-item-btn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef="remove"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsForSmView"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsForSmView"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedFooterColumns"></tr>
    </table>
    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
      [length]="totalSize" [pageIndex]="currentPage" *ngIf="dataSource.filteredData.length !== 0">
    </mat-paginator>
  </div>
</div>
<!-- ------xs-ScreenTable View------------ -->
<div fxShow="false" fxShow.xs="true" *ngIf="products.length === 0" fxLayout="column" fxLayoutAlign="center center"
  class="empty-cart-container">

  <h1 class="text-muted text-center">
    <em>Cart is empty right now.</em>
  </h1>

</div>

<div class="row" fxLayout="column" fxShow.sm="false" fxShow.xs="true" fxShow="false" fxLayoutGap="20px"
  fxLayoutAlign="space-around center" *ngFor="let product of products">
  <mat-card class="example-card mt-5">
    <div class="card-content" fxFill>
      <div class="cart-image-container" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="cart-item-image">
          <a fxFill [ngStyle]="{
              'background-image': 'url(' + product.url_image + ')'
            }"></a>
        </div>
        <mat-card-content>
          <div fxLayout.xs="row wrap" fxLayoutAlign="space-between center">
            <span class="text-muted" [ngStyle]="{ 'font-size': '3vw' }">{{
              product.brand
            }}</span>

            <div class="d-flex justify-content-right">
              <button mat-icon-button (click)="removeOneItem(product.id)">
                <mat-icon style="font-size: 20px;">remove</mat-icon>
              </button>

              <input [ngStyle.xs]="{ width: '7vw' }" [(ngModel)]="product.quantity" id="quantityInput" value=""
                type="text" />
              <button mat-icon-button (click)="addOneItem(product.id)">
                <mat-icon style="font-size: 20px;">add</mat-icon>
              </button>
            </div>
          </div>

          <span [ngStyle.xs]="{ 'font-size': '3vw' }">{{
            product.category
          }}</span>
        </mat-card-content>
      </div>

      <mat-card-actions>
        <!-- <button [routerLink]="['/product', product.id]" class="btn btn-dark">
        Open
      </button> -->
        <div fxLayout="column">
          <span style="color: #fdb813;" fxFill> {{ product.name }}</span>

          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column">
              <span><em class="text-muted">Cena: </em>
                {{ product.client_price.toFixed(2) }} zł</span>
              <span><em class="text-muted">Do zaplaty: </em>
                {{ product.total.toFixed(2) }} zł</span>
            </div>
            <button mat-fab (click)="removeCartItem(product.id)" class="remove-item-btn mt-2">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
