.product-image {
  object-fit: cover;
  width: 100%;
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 0px;
}
.mat-header-cell {
  font-size: 17px;
  font-weight: 500;
}
th.mat-header-cell {
  text-align: center;
}

// .mat-column-product {
//   flex: none;
//   width: 20%;
//   margin-top: 20px;
// }

#quantityInput {
  background-color: rgba(255, 139, 20, 0.3) !important;
  width: 100px;
  text-align: center;
}
md-divider {
  border-width: 1px;
  border-style: solid;
}
.mat-footer-cell {
  font-size: 21px;
}
td.mat-footer-cell-quantity {
  color: blue;
}
